.container {
  border : 2px solid black;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 6%;
  align-items: center;
  padding: 2%;
}
.i-field {
  width: 90%;
}
.animate-text {
  font-size: 30px;
}
